<% content_for :header do %>
  <%= render 'new_header' %>
<% end %>
<div class="pt-28 container">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center mt-20 mb-1">
      <h1 class="fw-medium text-charcoal text-uppercase">LinkSphere</h1>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mx-3">
        <div class="form-group">
          <%= f.label :first_name, 'First Name', class: "form-label fw-semibold" %>
          <%= f.input :first_name,
                      required: true,
                      input_html: { autocomplete: "first name", class: "form-control rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label: "First Name",
                      label_html: { class: "d-none" } %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name', class: "form-label fw-semibold" %>
          <%= f.input :last_name,
                      required: true,
                      input_html: { autocomplete: "last name", class: "form-control rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label: "Last Name",
                      label_html: { class: "d-none" } %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "form-label fw-semibold" %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email", class: "form-control rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label_html: { class: "d-none" } %>
        </div>
        <div class="form-group">
          <%= f.label :phone, 'Phone Number', class: "form-label fw-semibold" %>
          <%= f.input :phone,
                      required: true,
                      input_html: { autocomplete: "phone", placeholder: "+33 6 00 00 00 00", class: "form-control custom-placeholder rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label: "Phone Number",
                      label_html: { class: "d-none" } %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "form-label fw-semibold" %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "form-control rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label_html: { class: "d-none" } %>

        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirm Password', class: "form-label fw-semibold" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "form-control rounded w-100 py-2 px-4 bg-light-gray border border-0" },
                      label: "Confirm Password",
                      label_html: { class: "d-none" } %>
        </div>
      </div>

      <div class="form-actions d-flex justify-content-center align-items-center">
        <%= f.button :submit, "Sign up", class: "my-2 px-4 py-1 fw-semibold bg-primary rounded-pill text-light-gray" %>
      </div>
    <% end %>
    <div class="p-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
