<% content_for :header do %>
  <%= render 'show_header' %>
<% end %>

<div class=" pt-16"></div>
<%= form_with url: api_v1_contact_group_path(@contact_group), method: :get, class: "d-flex justify-content-around align-items-center space-y-2 w-100 mt-2 py-2 border-bottom" do %>
    <%= text_field_tag :search,
            params[:search],
            class: "form-control custom-placeholder custom-caret text-charcoal bg-transparent font-light mx-0 w-[65%] mx-edit h-7 border-0",
            placeholder: "Search Contacts"
        %>
        <div class="d-flex justify-content-center align-items-center pb-2">
            <%= button_tag(type: 'submit', class: "btn-delete") do %> 
              <%= image_tag "search.svg", alt: 'search', class: "w-8" %>
            <% end %>
        </div>
<% end %>
<ul class="w-100 px-0">
  <% @users.group_by { |user| user.created_at.beginning_of_month }.sort.each do |month, users| %>
  <div class="month-section">
    <p class="bg-light-gray px-4 py-1 shadow-sm fw-light"><%= month.strftime("%B %Y") %></p>

  </div>
    <% users.sort_by(&:first_name).each do |user| %>
      <%= link_to repertoire_user_profil_api_v1_user_path(user), class: "text-decoration-none" do %>
        <li class="d-flex justify-content-between align-items-center text-charcoal px-4 border-bottom">
          <p><%= user.full_name %></p>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, alt: "Avatar of #{user.first_name}", class: "rounded-circle mb-3 img-avatar w-12 h-12 border border-2 border-white shadow-sm" %>
          <% else %>
            <%= image_tag("avatar.svg", class: "rounded-circle mb-3 w-12 h-12 img-fluid border border-2 border-white shadow-sm") %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
