<% content_for :header do %>
  <%= render 'repertoire_user_header' %>
<% end %>

<div class=" pt-28"></div>
<div class="d-flex justify-content-center ">
    <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, alt: "Avatar to #{@user.first_name}", class: "rounded-circle img-avatar w-28 h-28 border shadow" %>
    <% else %>    
        <%= image_tag("avatar.svg", class: "rounded-circle w-28 h-28 img-fluid border shadow") %>
    <% end %>
</div>
<div class="d-flex justify-content-center">
    <div class="d-block justify-content-center lh-sm">
        <h2 class="font-jost text-silver text-center my-2 fw-medium"><%= @user.full_name %></h2>
        <div class="d-flex align-items-center gap-2 small justify-content-center mb-1">
            <i class="fa-solid fa-phone text-primary"></i>
            <span class="fw-light select-none"><%= @user.phone %></span>
        </div>
        <div class="d-flex items-center gap-2 justify-content-center mb-1">
            <i class="fa-regular fa-envelope text-primary"></i>
            <span class="fw-light"><%= @user.email %></span>
        </div>
        <% if @user.website.present? %>
            <div class="d-flex align-items-center gap-2 justify-content-center">
                <i class="fa-solid fa-globe text-primary"></i>            
                <span class=" font-light"><%= @user.website %></span>
            </div>
        <% end %>
        <%= render "social" %>
    </div>
</div>
<div class="border border-teal mt-3"></div>
<%= render "bio" %>
<%# mettre le bloc note ici %>
<div class="position-fixed left-0 right-0 bottom-0 pb-28 w-100" data-controller="note-toggle">
    <div data-note-toggle-target="container"  class="animation-note translate-y-full h-100 d-flex flex-column">
        <button data-action="click->note-toggle#toggle" class="btn-delete m-0 d-flex flex-column justify-content-center align-items-center w-100 border-top border-yellow bg-light-gray pb-3 z-3 d-lg-none position-relative">
            <div class="border border-2 border-charcoal w-14 mt-3 mb-1 rounded"></div>
            <span class="text-charcoal">Personal note</span>
        </button>
        <div id="note-form" class="flex-grow-1 bg-light-gray px-1 d-none z-2" data-note-toggle-target="form">
            <%= simple_form_for([@user, @user_contact_group], url: api_v1_user_user_contact_group_path(@user, @user_contact_group)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                    <%= f.input :personal_note,
                                placeholder: "Add a personalized note ...",
                                input_html: { class: "form-control bg-light-gray text-charcoal border-0 w-100 resize-none", rows: "7", style: "height: auto;" },
                                label_html: { class: "d-none" } %>
                </div>

                <div class="form-actions d-flex justify-content-center mt-auto pb-10">
                    <%= f.button :submit, 'Update Note', class: "btn-delete bg-navy text-white px-2 py-1 rounded" %>
                </div>
            <% end %>
        </div>
    </div>
</div>