<% content_for :header do %>
  <%= render 'show_header' %>
<% end %>

<div class="pt-24"></div>
<div class="d-flex justify-content-center ">
    <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, alt: "Avatar to #{@user.first_name}", class: "rounded-circle img-avatar w-28 h-28 border shadow-sm" %>
    <% else %>    
        <%= image_tag("avatar.svg", class: "rounded-circle w-20 h-20 img-fluid border shadow-sm") %>
    <% end %>
</div>
<div class="d-flex justify-content-center">
    <div class="d-block justify-content-center">
        <h2 class="font-jost text-silver text-center  my-1"><%= @user.full_name %></h2>
        <div class="d-flex align-items-center gap-2 small justify-content-center mb-1">
            <i class="fa-solid fa-phone text-primary"></i>
            <span class=" fw-light select-none blur-sm">confidential phone</span>
        </div>
        <div class="d-flex align-items-center gap-2 small justify-content-center mb-1">
            <i class="fa-regular fa-envelope text-primary"></i>
            <span class=" fw-light select-none blur-sm">confidential@gmail.com</span>
        </div>
        <% if @user.website.present? %>
            <div class="d-flex align-items-center gap-2 small justify-content-center">
                <i class="fa-solid fa-globe text-primary"></i>            
                <span class=" fw-light"><%= @user.website %></span>
            </div>
        <% end %>
        <div class="d-flex justify-content-evenly align-items-center mt-1">
            <% if @user.twitter.present? %>
                <a href="https://<%= @user.twitter %>" target="_blank"><i class="fa-brands fa-x-twitter fa-lg text-black"></i></a>
            <% end %>
            <% if @user.linkedin.present? %>
                <a href="https://<%= @user.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin fa-lg text-black"></i></a>               
            <% end %>
            <% if @user.facebook.present? %>
                <a href="https://<%= @user.facebook %>" target="_blank"><i class="fa-brands fa-facebook fa-lg text-black"></i></a>                
            <% end %>
            <% if @user.instagram.present? %>
                <a href="https://<%= @user.instagram %>" target="_blank"><i class="fa-brands fa-instagram fa-lg text-black"></i></a>   
            <% end %>
        </div>
        <div class="d-flex justify-content-center">
            <% everyone_group = current_user.repertoire.contact_groups.find_by(name: 'Everyone') %>
            <% if everyone_group && UserContactGroup.exists?(contact_group: everyone_group, user: @user) %>
                <p class="px-3 py-2 my-4 mx-auto text-xs rounded text-light-gray fw-semibold bg-success">Already added</p>
            <% else %>
                <%= button_to "Add to directory", add_to_directory_api_v1_user_path(@user), method: :post, class: "btn-delete px-3 py-2 my-4 mx-auto text-xs rounded text-light-gray fw-semibold bg-primary" %>
            <% end %>
        </div>
    </div>
</div>
<div class="border border-teal mt-3"></div>
<%= render "bio" %>