<header class="w-100 position-fixed bg-charcoal">
    <div class="d-flex w-100 justify-content-between align-items-center pt-8 pb-3 px-4 bg-charcoal">
        <%= link_to api_v1_event_path(@event) do %>
                <%= image_tag "chevron-left.svg", alt: "chevron", class: "w-6" %>
        <% end %>
        <div class="flex-1 text-center ml-2">
            <h6 class="m-0 align-middle text-light-gray text-uppercase fw-semibold font-jost">Meet contacts</h6>
        </div>
        <%= link_to api_v1_chatrooms_path(current_user) do %>
            <%= image_tag "envelope.svg", alt: "envelope", class: "w-7" %>
        <% end %>
    </div>
    <div class="d-flex justify-content-around bg-white px-4 py-3 border-bottom">
        <%= link_to exposant_api_v1_event_path(@event), class: "text-decoration-none" do %>
            <h6 class="text-charcoal fw-normal font-jost">Exhibitors</h6>
        <% end %>
        <%= link_to visitor_api_v1_event_path(@event), class: "text-decoration-none" do %>
            <h6 class="text-charcoal fw-semibold font-jost position-relative custom-element">Professional Visitors</h6>
        <% end %>
    </div>
</header>