<% content_for :header do %>
  <%= render 'exposant_header' %>
<% end %>

<div class=" pt-33"></div>
<%# ---------------------------- A MODIFIER !!!! %>
<%= form_with url: repertoire_api_v1_user_path, method: :get, class: "d-flex justify-content-around align-items-center space-y-2 w-100 mt-2 py-2 border-bottom" do %>
    <%= text_field_tag :search,
            params[:search],
            class: "form-control custom-placeholder custom-caret text-charcoal bg-transparent font-light mx-0 w-[65%] mx-edit h-7 border-0",
            placeholder: "Search Contacts"
        %>
        <div class="d-flex justify-content-center align-items-center pb-2">
            <%= button_tag(type: 'submit', class: "btn-delete") do %> 
                <%= image_tag "search.svg", alt: 'search', class: "w-8" %>
            <% end %>
        </div>
<% end %>
<%# ---------------------------------------------- %>

<% @exhibitors.each do |exhibitor| %>
    <div class="border-bottom border-silver position-relative">
        <%= link_to api_v1_exhibitor_path(exhibitor), class: "text-decoration-none" do %>
            <div class="d-flex align-items-center justify-content-between px-3 py-7">
                <div class="d-flex align-items-center gap-4">
                    <% if exhibitor.entreprise.logo.attached? %>
                        <%= cl_image_tag exhibitor.entreprise.logo.key, alt: "Logo entreprise #{exhibitor.entreprise.name}", class: "rounded img-avatar w-12 h-12 shadow-sm" %>
                    <% else %>
                        <%= image_tag("bag-entreprise.svg", class: "img-fluid w-12 h-12") %>
                    <% end %>
                    <h5 class="fw-medium text-charcoal font-jost"><%= exhibitor.entreprise.name %></h5>
                </div>
                <div class="d-flex gap-2">
                    <% exhibitor.entreprise.representatives.each do |representative| %>
                        <% employee = Employee.find_by(id: representative.employee_id) %>
                        <% entrepreneur = Entrepreneur.find_by(id: representative.entrepreneur_id) %>
                        <div class="d-flex flex-column align-items-center">
                            <% if employee && employee.user.avatar.attached? %>
                                <%= cl_image_tag employee.user.avatar.key, alt: "Avatar de #{employee.user.first_name}", class: "rounded-circle img-avatar w-5 h-5 border shadow-sm" %>
                            <% else %>    
                                <%= image_tag("avatar.svg", class: "rounded-circle w-5 h-5 img-fluid border border-white shadow-sm") %>
                            <% end %>
                        </div>
                    <% end %>

                </div>
            </div>
            <%# c'est un exemple à mettre plus tard un moyen pour l'organisateur d'event un moyen pour placer les exposants comme il le souhaite %>
            <p class="stand-badge bg-primary fw-bold text-light-gray">Stand 04.09</p>
        <% end %>
    </div>
<% end %>