<% content_for :header do %>
  <%= render 'show_header' %>
<% end %>

<div class=" pt-33"></div>
<div class="pb-14">
    <div class="d-flex justify-content-center ">
        <% if @event.logo.attached? %>
            <%= cl_image_tag current_user.logo.key, alt: "Logo to #{@event.title}", class: "img-avatar w-28 h-28 shadow-sm" %>
        <% else %>    
            <%= image_tag("logo_event.svg", class: " w-28 h-28 img-fluid") %>
        <% end %>
    </div>
    <h3 class="text-center my-4 mx-3 text-capitalize fw-semibold text-charcoal font-jost"><%= @event.title %></h3>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="d-flex flex-column justify-content-center text-start">
            <div class="d-flex align-items-center gap-2">
                    <i class="fa-solid fa-map-pin text-yellow align-middle"></i>
                    <p class="m-0 d-inline align-middle"><%= @event.city.capitalize %>, <%= @event.country.capitalize %></p>
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-calendar-days text-yellow align-middle"></i>
                <p class="m-0  d-inline align-middle"><%= @event.start_time.strftime('%B %d') %> to <%= @event.end_time.strftime('%d') %></p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center h-100 mt-4">
        <div class="d-flex align-items-center gap-2">
            <i class="fa-solid fa-globe text-yellow align-middle"></i>
            <p class="m-0  d-inline align-middle"><%= @event.link %></p>
        </div>
    </div>
    <p class=" mx-3 my-4"><%= @event.description %></p>
    <% if @existing_participation %>
            <div class="d-flex align-items-center justify-content-center mx-2 gap-4">
                <%= link_to "Exhibitors", exposant_api_v1_event_path(@event), class: "text-decoration-none btn-delete d-flex align-items-center justify-content-center my-3 mx-auto py-1 small rounded bg-yellow text-light-gray fw-semibold shadow-sm flex-1" %>
                <% if @visible_participations.exists? %>
                    <div data-controller="overlay" class="d-flex flex-column align-items-start justify-content-start flex-1">
                        <button data-action="click->overlay#toggle" class="text-decoration-none btn-delete d-flex align-items-center justify-content-center my-3 mx-auto px-0 py-1 rounded small bg-primary text-light-gray fw-semibold shadow-sm flex-1 w-100">Professional Visitors</button>
                        <div data-overlay-target="overlay" class="d-none inset-x-0 position-fixed top-0 w-100 h-100 overlay fixed justify-content-center align-items-center text-white z-3">
                            <div data-overlay-target="modal" class="d-none mx-2 position-relative w-72 h-auto bg-charcoal text-light-gray py-4 px-3 rounded-xl content-between">
                                <button data-action="click->overlay#closeModal" class="d-flex justify-content-start position-absolute top-0 end-0 mt-3 mr-3 btn-delete">
                                    <i class="fa-solid fa-xmark text-yellow fa-xmark-custom"></i>
                                </button>
                                <div class="d-flex justify-content-center mb-4">
                                    <div class="">
                                        <i class="fa-solid fa-triangle-exclamation text-yellow text-5xl animate-pulse"></i>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p class="small">You do not have access to the room list <%= @event.title.capitalize %>.</p>
                                </div>
                                <%= simple_form_for(@participation, url: api_v1_event_participation_path(@event), method: :patch, html: { "data-controller": "participation"}) do |f| %>
                                    <div class="border-bottom border-yellow w-75 mx-auto my-4"></div>
                                    <%= f.input :visible_in_participants,
                                                as: :boolean,
                                                wrapper_html: { class: "" },
                                                input_html: { id: "visible_in_participants", "data-participation-target": "checkbox", "data-action": "change->participation#toggleValue"  },
                                                label: "I agree to appear in the list of people present at the event. If you check this box, you will have access to the list of registered people.",
                                                label_html: { for: "visible_in_participants", class: "small" },
                                                inline_label: true %>
                                    <div class="form-actions">
                                        <div class="d-flex align-items-center justify-content-center py-1 mt-4 px-0 mx-9 bg-yellow text-gray-100  fw-bold rounded text-uppercase">
                                            <%= f.button :submit,
                                                    value: "Confirm",
                                                    class: "text-uppercase text-light-gray text-shadow w-100 fw-bold font-jost btn-delete confirm-size",
                                                    data: { action: "click->overlay#closeModal" } %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <%= link_to "Professional visitors", visitor_api_v1_event_path(@event), class: "text-decoration-none btn-delete d-flex align-items-center justify-content-center my-3 mx-auto px-0 py-1 rounded small bg-primary text-light-gray fw-semibold shadow-sm flex-1" %>
                <% end %>
            </div>
            <p class="text-xs text-center fw-light fst-italic">You can no longer participate in this event?</p>
            <div class="d-flex align-items-center justify-content-center mb-12">
                <%= link_to "Unsubscribe", api_v1_event_participation_path(@event, @existing_participation), data: {turbo_method: :delete, turbo_confirm: "Please, confirm your unsubscription"}, class: "text-decoration-none fw-semibold text-uppercase bg-gray text-white small mb-10 px-3 py-1 rounded"%>
            </div>
    <% else %>
        <div data-controller="overlay" class="d-flex flex-column align-items-start justify-content-start mb-10">
            <button data-action="click->overlay#toggle" class="btn-delete d-flex align-items-center justify-content-center px-4 mx-auto mb-10 rounded custom-btn-blue text-primary fw-semibold bg-light-gray bg-opacity-50">Register</button>
            <div data-overlay-target="overlay" class="d-none inset-x-0 position-fixed top-0 w-100 h-100 overlay fixed justify-content-center align-items-center text-white z-3">
                <div data-overlay-target="modal" class="d-none mx-2 position-relative w-72 h-auto bg-charcoal text-light-gray py-4 px-3 rounded-xl content-between">
                    <button data-action="click->overlay#closeModal" class="d-flex justify-content-start position-absolute top-0 end-0 mt-3 mr-3 btn-delete">
                        <i class="fa-solid fa-xmark text-yellow fa-xmark-custom"></i>
                    </button>
                    <div class="d-flex justify-content-center mb-4">
                        <% if @event.logo.attached? %>
                            <%= cl_image_tag current_user.logo.key, alt: "Logo to #{@event.title}", class: "img-avatar w-14 h-14 shadow-sm" %>
                        <% else %>    
                            <%= image_tag("logo_event.svg", class: "w-14 h-14 img-fluid") %>
                        <% end %>
                    </div>
                    <div class="mb-2 text-center">
                        <p class="small mx-3">Please confirm you attendance at the <%= @event.title.capitalize %>.</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="d-flex flex-column justify-content-center text-start">
                            <div class="d-flex align-items-center gap-2">
                                    <i class="fa-solid fa-map-pin text-yellow align-middle"></i>
                                    <p class="m-0 d-inline align-middle"><%= @event.city.capitalize %>, <%= @event.country.capitalize %></p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-calendar-days text-yellow align-middle"></i>
                                <p class="m-0  d-inline align-middle"><%= @event.start_time.strftime('%B %d') %> to <%= @event.end_time.strftime('%d') %></p>
                            </div>
                        </div>
                    </div>
                    <%# Ajouter un input pour la validation du code + faire un checkbox pour donner l'accord d'apparition ( ajouter une colonne sur la table participation 'accord' en boolean) %>
                    <%= simple_form_for([@event, @participation], url: api_v1_event_participations_path(@event), method: :post) do |f| %>
                        <%= f.hidden_field :event_id, value: @event.id %>
                        <%= f.input :registration_code,
                                    required: true,
                                    autofocus: false,
                                    input_html: { autocomplete: "REGISTRATION CODE", value: "", placeholder: "REGISTRATION CODE", class: "form-control border-none custom-caret custom-placeholder rounded  h-8 mx-auto w-75 mt-4 text-center px-0 text-charcoal" },
                                    label_html: { class: "d-none" }  %>
                                    <div class="text-left">
                                        <p class=" tracking-tight leading-3 info-size text-left fst-italic">Your DigiCard registration code is provided to you in the confirmation email with your badge/ticket which gives you access to the event.</p>
                                    </div>
                                    <div class="text-left lh-sm mb-2">
                                        <p class="info-size font-semibold fst-italic text-left mt-1">
                                            Don’t have your badge yet ?
                                            <a href="https://<%= @event.link %>" target="_blank" class="info-size  fst-italic text-decoration-none text-light-gray">Get it <span class=" text-yellow">here</span></a>
                                        </p>
                                    </div>
                        <%= f.input :visible_in_participants, 
                                    as: :boolean,
                                    label: "I refuse to appear in the list of people present at the event. If you check this box, you will not have access to the list of registered people.",
                                    input_html: { id: "visible_in_participants" },
                                    label_html: { for: "visible_in_participants", class: "info-size" } %>
                        <div class="form-actions">
                            <div class="d-flex align-items-center justify-content-center py-1 mt-4 px-0 mx-9 bg-yellow text-gray-100  fw-bold rounded text-uppercase">
                                <%= f.button :submit,
                                        value: "Confirm",
                                        class: "text-uppercase text-light-gray text-shadow w-100 fw-bold font-jost btn-delete confirm-size",
                                        data: { action: "click->overlay#closeModal" } %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
