<% content_for :header do %>
  <%= render 'index_header', chatroom: @chatroom %>
<% end %>

<div class="pt-20"></div>
<%= form_with url: api_v1_chatrooms_path(current_user), method: :get, class: "d-flex justify-content-around align-items-center space-y-2 w-100 mt-2 py-2 border-bottom" do %>
    <%= text_field_tag :search,
            params[:search],
            class: "form-control custom-placeholder custom-caret text-charcoal bg-transparent font-light mx-0 w-[65%] mx-edit h-7 border-0",
            placeholder: "Search Contacts"
    %>
    <div class="d-flex justify-content-center align-items-center pb-2">
        <%= button_tag(type: 'submit', class: "btn-delete") do %> 
            <%= image_tag "search.svg", alt: 'search', class: "w-8" %>
        <% end %>
    </div>
<% end %>

<div class="w-100">
    <% @users.each do |user| %>
      <% chatroom = find_or_create_chatroom(current_user, user) %>
      <div class="position-relative">
        <%= link_to api_v1_chatroom_path(chatroom), class: "d-block  text-decoration-none" do %>
          <div class="d-flex align-items-start px-2 py-2 pb-3 gap-2">
            <div class="flex-shrink-0">
              <% if user.avatar.attached? %>
                <%= cl_image_tag user.avatar.key, alt: "Avatar of #{user.first_name}", class: "rounded-circle img-avatar w-16 h-16  shadow-sm" %>
              <% else %>
                <%= image_tag("avatar.svg", alt: "Default avatar", class: "rounded-circle w-16 h-16 img-fluid shadow-sm") %>
              <% end %>
            </div>
            <div class="d-flex flex-column lh-base">
              <% last_message = chatroom.messages.last %>
              <p class="fw-semibold text-charcoal d-flex flex-column lh-sm">
                <span class=""><%= truncate(user.full_name, length: 24) %></span>
                <span class="fw-light small"><%= truncate(chatroom.other_user(current_user).job, length: 22) %></span>
                <span class="small text-silver fw-light mt-1">
                  <% if last_message.user == current_user %>
                    <span>You: </span>
                  <% else %>
                    <span><%= last_message.user.first_name %>: </span>
                  <% end %>
                  <%= truncate(last_message.content, length: 30) %>
                </span>
              </p>
            </div>
          </div>
          <p class="text-gray date-message"><%= chatroom.messages.last.created_at.strftime("%b %d") %></p>
        <% end %>
      </div>
    <% end %>
</div>
