<!DOCTYPE html>
<html>
  <head>
    <title>LinkSphere</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <%= yield :header %>
    <%= render "shared/flashes" %>
    <main class="bg-white">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
